/*
*Css for pokemon table
*Developer: Ariel Zelaya
*/
.container{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

table{
    min-width: 80%;
    margin: auto;
    text-align: center;
}

.mat-header-cell{
    text-align: center;
    font-size: 16px;
    color: black;
    font-weight: bold;
}


/*Rows impares*/
.mat-row{
    background-color: #bd3736;
  
}
.mat-cell{
    color: #ffffff;
}
.mat-cell::first-letter{
    text-transform: uppercase;
}

.mat-row:hover{
    cursor: pointer;
    box-shadow: inset 0 0 0 5px #FFD924;
}

/*Paginator*/

::ng-deep.mat-paginator{
    width: 80%;
    margin: auto;
    display: block !important;
}

.mat-form.field{
    font-size: 13px;
    width: 20%;
    margin-bottom: 10px;
    padding: 10px;
}

::ng-deep.mat-form-field-label{
    color: #bd3736 !important;
}

app-home {
    position: fixed;
    right: 10px;
}