.card{
    width: 300px;
    margin: auto;
    margin-top: 20px;
    background-color: #bd3736;
}

.mat-chip-list-wrapper{
    text-align: center;
    margin: auto;
}

.mat-card-header{
    background-color: #ffffff;
    padding-top: 10px;
    border-radius: 10px;
   
}
.header-image{
   background-size: cover;
}
.mat-card-tittle{
    text-transform: uppercase;
    color: #424242;
}

.mat-card-subtitle{
    color: #7d7d7d;
}

.mat-chip{
    background-color: #424242 !important;
    
}