<mat-card class="card">
    <mat-card-header>
      <img mat-card-avatar class="header-image" src="{{pokemonImg}}" alt="pokemon avatar">
      <mat-card-title>{{pokemon.name}}</mat-card-title>
      <mat-card-subtitle>N# {{pokemon.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{pokemonImg}}" alt="Pokemon image">
    <mat-card-content>
    
    </mat-card-content>
    <mat-chip-list aria-label="Fish selection">
       
        <mat-chip color="primary" selected>Type: {{pokemonType}}</mat-chip>
        <mat-chip color="primary" selected>Height: {{pokemon.height}}</mat-chip>
        <mat-chip color="primary" selected>Weight: {{pokemon.weight}}</mat-chip>
        
      </mat-chip-list>
      
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button>
      <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
  